@import '@/styles/index.scss';

.good-card {
  $height: 130px + 2 * $space;

  @include display-flex;

  font-size: 28px;

  @mixin inline-label($basis) {
    @include flex(0, 0, $basis);
  }

  &__image-container {
    @include flex(0, 0, $height);
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    &--not-available {
      background-color: #eee;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__detail {
    @include display-flex;

    flex-direction: column;
    @include justify-content(space-between);
  }

  &__info,
  &__description {
    @include display-flex;
  }

  // price
  &__price {
    @include display-flex;
    @include align-items(baseline);
  }
  &__current-price {
    color: #ab2b2b;
  }
  &__original-price {
    color: #aaa;
    text-decoration: line-through;
  }
  &__discount {
    font-weight: bold;
    color: #e30909;
  }

  // modifiers
  // orientation: horizontal | vertical
  // --horizontal
  &--horizontal {
    height: $height;
  }
  &--horizontal & {
    &__image-container {
      margin-right: $space;
    }
  }

  // --vertical
  &--vertical {
    flex-direction: column;
  }

  &--vertical & {
    &__image-container {
      @include flex(1, 0, 600px);
      height: 600px;
    }
    &__detail {
      padding: $space;
    }
    &__name {
      font-size: 40px;
      text-align: center;
      @include justify-content(center);
    }
  }

  // content level: detail | simple | minimal
  // --detail
  &--detailed & {
    &__detail {
      @include display-flex;
      @include align-items(flex-start);
    }
    &__name {
      @include align-self(center);
      @include flex(0);
      margin-bottom: $space / 2;
      text-align: left;
    }
    &__category {
      @include flex(0, 0, auto);
      $font-size: 23px;
      $height: $font-size + $space / 2;

      margin-bottom: $space;
      padding: $space / 4 $space;

      font-size: $font-size;
      color: #eb4d4b;
      background-color: #f6e58d;

      border-radius: $height / 2;
      background-clip: border-box;
      overflow: hidden;
    }

    $label-font: 25px;
    $label-color: #999;

    @mixin header {
      @include header-label($label-color, $label-font, $space, 30%);
    }

    // info
    &__info {
      @include flex(0, 0, auto);
      @include align-self(stretch);
      padding-left: $space;
      font-size: $label-font;
      &-header {
        @include header;
      }
      &-label {
        @include inline-label(6em);
        color: $label-color;
      }
      &-value {
        @include flex(1);
      }
    }

    // gap before description & price
    &__description,
    &__price {
      @include flex(0, 0, auto);
      margin-top: $space;
    }

    &__description {
      flex-direction: column;
      @include align-self(stretch);
      &-label {
        @include header;
      }
      &-content {
        padding-left: $space;
      }
    }

    &__price {
      @include align-self(stretch);
      margin-top: $space * 3 / 2;
    }
    &__current-price {
      font-size: 40px;
    }
    &__original-price {
      margin-left: $space;
      font-size: 30px;
    }
    &__discount {
      margin-left: auto;
      @include align-self(center);
      padding-right: 2 * $space;
      font-size: 35px;
    }
  }

  // --simple & --minimal
  &--simple &,
  &--minimal & {
    &__detail {
      min-width: 0; // for `text-ellipsis`
      @include flex;
    }
    &__name,
    &__info-value,
    &__description-content {
      @include text-ellipsis;
    }
    &__description-label,
    &__info-label {
      @include inline-label(3em);
    }
    &__name {
      font-weight: bold;
      text-align: center;
      @include justify-content(center);
    }
    $price-size: 170px;

    &__price {
      margin-top: $space / 4;
      &--hide {
        visibility: hidden;
      }
    }

    &__current-price {
      @include flex(0, 0, $price-size);
      @include text-ellipsis;
      font-size: 35px;
    }

    &__original-price {
      @include flex(0, 0, $price-size);
      @include text-ellipsis;
      margin-left: $space / 4;
    }

    &__discount {
      margin-left: $space / 4;
      @include flex(0, 0, $price-size / 2);
      text-align: right;
      font-weight: bold;
    }
  }
}
