@import '@/styles/index.scss';

.order-card {
  $height: 80px + 2 * $space;

  @include display-flex();
  height: $height;

  font-size: 28px;

  &__image-container {
    @include flex(0, 0, $height);
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    &--not-available {
      background-color: #eee;
    }
    margin-right: $space;
  }

  &__image {
    width: 100%;
    height: 100%;
  }
  &__detail {
    min-width: 0;
    @include flex(1, 0);
    @include display-flex;
    flex-direction: column;
  }
  &__info {
    @include display-flex;
  }
  &__name {
    @include flex(0, 0, 350px);
    font-weight: bold;
    @include text-ellipsis;
  }
  &__time {
    @include align-self(flex-end);
    margin-left: auto;
    padding-right: $space;
    font-size: 24px;
    color: #bbbbbb;
  }
  &__status {
    color: #aaaaaa;
  }
}
