@import '@/styles/index.scss';

.good-form {
  margin-top: 50px;
  padding-bottom: 105px;

  &__actions {
    @include display-flex;
    @include justify-content(center);
    padding: $space;
  }

  &__action-button {
    $button-height: 65px;
    height: $button-height;
    line-height: $button-height - 2px;
    // margin-right: $space;
  }
}
