@import '@/styles/index.scss';

.user-form {
  margin-top: 50px;
  padding-bottom: 105px;

  &__actions {
    @include display-flex;
    @include justify-content(center);
    padding: $space;
  }

  &__action-button {
    $button-height: 65px;
    height: $button-height;
    line-height: $button-height - 2px;
    // margin-right: $space;
  }
}

.critical-msg {
  font-weight: bold;
}

.confirm-modal {
  @include display-flex;
  flex-direction: column;
  &__msg {
    @include display-flex;
    @include justify-content(center);
  }
  &__main-msg {
    margin: $space;
    @include display-flex;
    flex-direction: column;
    font-weight: bold;
  }
  &__msg-label {
    @include flex(0, 0, 2em);
  }
  &__msg-value {
    @include flex;
    text-align: center;
  }
  &__plain-msg {
  }
}
