@import '~taro-ui/dist/style/components/avatar.scss';
@import '@/styles/index.scss';

.user-card {
  @include display-flex();
  padding: $space/2 $space;

  $font-size: 27px;

  font-size: $font-size;

  &__avatar {
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
  }

  &__detail {
    @include flex;
    @include display-flex;
  }

  &__info {
    @include flex;
    @include display-flex;
    flex-direction: column;
    &-item {
      line-height: $font-size * 3 / 2;
      @include display-flex;
      @include align-items(center);
    }
    &-label {
    }
    &-value {
      @include flex;
      @include text-ellipsis;
    }
  }

  // modifiers
  // detail layout
  // --vertical | --horizontal
  &--vertical & {
    &__detail {
      flex-direction: column;
    }
  }
  &--horizontal & {
    &__detail {
      flex-direction: row;
    }
  }

  // content level
  // --minimal | --detailed | --flow
  &--detailed & {
    &__info {
      @include justify-content(center);
      &-label {
        @include flex(0, 0, $font-size * 3);
      }
    }
  }
  &--minimal & {
    &__info {
      margin-top: $space;
      @include justify-content(flex-start);
      &-label {
        @include flex(0, 0, $font-size * 3);
      }
    }
  }
  &--flow & {
    &__detail {
      @include flex-wrap(wrap);
    }
    &__info {
      @include flex(0, 0, 50%);
      &-label {
        @include flex(0, 0, $font-size * 3);
      }
    }
  }

  // size
  // --large | --medium | --small
  @mixin size($m, $h) {
    &--#{$m}#{&} {
      height: $h;
    }
    &--#{$m} & {
      &__avatar {
        margin-right: $h / 8;
        @include flex(0, 0, $h - 2 * $space);
        &-image {
          @include avatar-size($h);
        }
      }
    }
  }

  @include size(large, 190px + 2 * $space);
  @include size(medium, 110px + 2 * $space);
  @include size(small, 80px + 2 * $space);
  &--medium &,
  &--small & {
    &__avatar {
      margin-left: $space;
      margin-right: $space * 3 / 2;
    }
  }
  &--small & {
    &__info {
      margin-top: 10px;
    }
  }
}
