@import '@/styles/index.scss';

.sell-page {
  @include display-flex;
  flex-direction: column;
  @include justify-content(center);
  @include align-items(flex-start);
  padding-top: 400px;
  &__explain {
    padding: 0 $space;
    @include align-self(stretch);
  }
  &__time-line {
  }
  &__upload {
    @include align-self(stretch);
    @include display-flex;
    @include justify-content(space-evenly);
    margin-top: 100px;
  }
}
