@import '@/styles/index.scss';

.page-content {
  @include display-flex;
  flex-direction: column;
}

.sub-tips {
  $tips-padding: 20px;

  @include hairline-top-relative;
  @include hairline-bottom-relative;
  position: sticky;
  top: 0;
  background-color: #fff;

  @include display-flex;
  @include align-items(center);
  padding: $tips-padding 0 $tips-padding $tips-padding;

  z-index: $top-tip-z-index;

  &__content {
    font-size: 30px;
  }
  &__icon {
    font-size: 2em;
    margin-left: auto;
    color: #aaa;
  }
}

.banner {
  background-color: #ddd;

  &__img {
    height: 100%;
    width: 100%;
  }
}

.pseudo-search-bar {
}

.item-list {
  @include display-flex;
  flex-direction: column;
  // elements
  &__title {
    padding: $space;
    @include hairline-bottom;
  }
  &__item {
    padding: $space;
    @include hairline-bottom;
  }
  &__loading {
    padding: $space;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    &-text {
      color: #808080;
      font-size: 24px;
      margin-left: $space / 2;
    }
  }
}
