@import '@/styles/index.scss';
@import '~taro-ui/dist/style/components/flex.scss';

.user-info-page {
  @include display-flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 100px;
  background-color: #eeeeee;
  .user-avatar {
    background-color: $color-bg;
    @include hairline-bottom;
    .at-col {
      padding: 24px;
    }
  }
}

.wx-qr-code {
  @include display-flex;
  @include align-items(stretch);
  flex-direction: column;
  color: #333;
  background-color: $color-bg;
  $font-size: 32px;
  font-size: $font-size;
  height: 450px;
  padding: $space;
  padding-bottom: $space * 3 / 2;
  @include active;
  @include hairline-bottom;

  &#{&}--empty {
    height: unset;
    padding-bottom: $space;
  }
  &--empty & {
    &__top-tip {
      margin-bottom: unset;
    }
  }

  &__top-tip {
    @include display-flex;
    @include justify-content(flex-start);
    @include align-items(baseline);
    margin-bottom: $space;
  }
  &__title {
    line-height: 1.5;
  }
  &__note {
    color: #999;
    margin-left: $space;
    font-size: $font-size * 5 / 6;
  }
  &__edit {
    color: #999;
    margin-left: auto;
    &-icon {
      color: #ccc;
      font-size: 48px;
      display: inline-block;
      width: 20px;
      left: -15px;
      position: relative;
    }
  }
  &__image-container {
    @include flex(1, 0);
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
  }
  &__image {
    width: 100%;
    height: 100%;
  }
}
