@import '@/styles/index.scss';

.divider {
  background-color: #eee;
  height: $space;

  // modifiers
  &--top-border {
    @include hairline-top-relative;
  }
  &--bottom-border {
    @include hairline-bottom-relative;
  }
}
