@import '@/styles/index.scss';

.good-detail {
  padding-bottom: 300px;
  &#{&}--not-found {
    padding-bottom: 0;
  }
  &__good {
  }
  &__footer {
    @include hairline-top-relative;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: white;
  }
}

.good-detail-orders {
  @include display-flex;
  flex-direction: column;
  min-height: 70vh;
  &__title {
    padding: $space;
    @include hairline-bottom;
  }
  &__bottom {
    margin-top: 30px;
    padding: 0 (5 * $space);
    $font-size: 25px;
    line-height: 1.7 * $font-size;
    font-size: $font-size;
    text-align: center;
    &-share {
      line-height: inherit;
      margin: 0;
      padding: 0;
      border: 0;
      padding: 0 ($font-size / 2);
      display: inline;
      background-color: transparent;
      color: #00b5fd;
      font-size: $font-size;
      &::after {
        border: 0;
        border-radius: 0;
        border-bottom: (1 * $PX) solid #00b5fd;
      }
    }
  }
}

.good-detail-order {
  @include hairline-bottom;
  &__time {
    @include flex(0, 0, 50%);
    margin-top: 10px;
  }
  &__actions {
    @include flex(0, 0, 100%);
    @include display-flex;
    @include justify-content(flex-end);
  }
  &__action {
    $font-size: 27px;
    margin: 0;
    margin-right: 2 * $space;
    padding: auto;
    font-size: $font-size;
    @include button-height(2 * $font-size);
  }
}

.user-card-action {
  margin: 0 $space;
  padding: 0 14px;
  $font-size: 26px;
  font-size: $font-size;
  @include flex(0, 0, 6em);
  @include button-height($font-size * 2);
  @include align-self(center);
}

.good-not-found {
  height: 100vh;
  font-size: 30px;
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
  &__content {
    @include display-flex;
    @include align-items(center);
  }
  &__msg {
    @include display-flex;
    flex-direction: column;
    margin-left: 1em;
  }
  &__icon {
    color: #ccc;
    font-size: 3em;
  }
  &__msg-text {
  }
  &__note {
    @include align-self(stretch);
    text-align: center;
    font-size: 0.8em;
  }
}
