@import '@/styles/index.scss';

.ongoing-orders-page {
  @include display-flex;
  flex-direction: column;
  &__tab-bar-wrapper {
    position: fixed;
    top: 0;
    z-index: $top-tip-z-index; // make tab bar on top
    width: 100%;
    padding-bottom: 1.5 * $space;
  }
  &__tab-bar {
    padding: 0 7 * $space;
    background-color: white;
    @include hairline-bottom-relative;
  }
  &__orders-list {
    margin-top: 60px;
    @include display-flex;
    flex-direction: column;
    &-item {
      padding: $space;
      @include hairline-bottom;
    }
  }
}

.actions-container {
  margin-top: $space;
  @include display-flex;
  @include justify-content(flex-end);
  width: 100%;
}

.action-widget {
  margin: 0;
  margin-right: 2 * $space;
  font-size: 26px;
  @include button-height(55px);
  padding: 0 $space;
}

.no-more-orders {
  margin-top: 30px;
  vertical-align: baseline;
  padding: 0 (5 * $space);
  $font-size: 25px;
  font-size: $font-size;
  line-height: 1.7 * $font-size;
  text-align: center;
  &__action {
    line-height: $font-size;
    display: inline-block;
    color: #00b5fd;
    padding: 0 ($font-size / 3);
    border-bottom: (1 * $PX) solid #00b5fd;
  }
  &__icon {
    height: $font-size;
    width: $font-size;
  }
}
