@import '@/styles/index.scss';

.user-page {
  background-color: #eee;
  height: 100vh;
  &__container {
    @include display-flex;
    flex-direction: column;
    background-color: white;
  }
  &__user-card {
    @include hairline-top;
  }
}

.login-info {
  @include flex;
  @include display-flex;
  @include justify-content(flex-start);
  @include align-items(center);
  font-size: 32px;
  padding-left: 10px;
  color: #888888;
}

.user-card-actions {
  @include flex(1.5);
  @include display-flex;
  @include justify-content(center);
  @include align-items(flex-start);
}

.user-card-action {
  margin: 0;
  margin-left: 2 * $space;
  $font-size: 26px;
  font-size: $font-size;
  @include button-height($font-size * 2);
}
