@import '@/styles/index.scss';

.page-content {
  @include display-flex;
  flex-direction: column;
}

.banner {
  background-color: #ddd;

  &__img {
    height: 100%;
    width: 100%;
  }
}

.sort-panel {
  padding: ($space/2) $space;
  @include display-flex;
  @include justify-content(flex-start);
  @include hairline-bottom-relative;
  &__option {
    $font-size: 24px;
    $color: #cca700;

    font-size: $font-size;
    line-height: $font-size * 2;

    margin-left: $space / 2;
    padding: 0 $font-size;

    border-radius: $font-size;
    background-clip: border-box;
    overflow: hidden;

    color: $color;
    border: (1 * $PX) solid $color;

    $time: 0.3s;
    transition: background-color $time;
    transition: color $time;

    &--active {
      color: white;
      background-color: $color;
    }
    &:active {
      color: white;
      background-color: $color;
    }
  }
}

.item-list {
  @include display-flex;
  flex-direction: column;
  // elements
  &__item {
    padding: $space;
    @include hairline-bottom;
  }
  &__loading {
    padding: $space;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    &-text {
      color: #808080;
      font-size: 24px;
      margin-left: $space / 2;
    }
  }
}
