@import '@/styles/index.scss';
@import '~taro-ui/dist/style/components/input.scss';
@import '~taro-ui/dist/style/components/icon.scss';

.custom-input {
  &__placeholder {
    color: #808080;
    // color: $at-input-placeholder-color;
  }
  &__icon,
  &__title {
    &--top {
      align-self: flex-start;
    }
    &--bottom {
      align-self: flex-end;
    }
  }
}
