@import '@/styles/index.scss';

.user-home-page {
}

.good-list {
  @include display-flex;
  flex-direction: column;
  // elements
  &__title {
    padding: $space;
    @include hairline-bottom;
  }
  &__item {
    padding: $space;
    @include hairline-bottom;
  }
  &__loading {
    padding: $space;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    &-text {
      color: #808080;
      font-size: 24px;
      margin-left: $space / 2;
    }
  }
}

.good-actions {
  margin-top: $space / 2;
  @include display-flex;
  @include align-items(start);
  @include justify-content(space-around);
  width: 100%;
}

.good-action {
  font-size: 26px;
  @include button-height(55px);
  padding: 0 $space;
}
