@import '@/styles/index.scss';
@import '~taro-ui/dist/style/components/icon.scss';

.footer {
  @include display-flex;
  width: 100%;
  height: 100%;
  $font-size: 30px;
  font-size: $font-size;
  // @include hairline-top-relative;
  &__icon {
    margin-right: $space / 2;
    font-size: 1.2em;
  }
  &__share,
  &__star,
  &__buy,
  &__contact {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    @include hairline-top-relative;
    @include hairline-left;
  }
  &__share {
    font-size: $font-size;
    padding: 0;
    margin: 0;
  }
  &__share,
  &__star {
    @include flex(3);
    @include click-active(white, #eeeeee);
  }
  &__star--active {
    color: #ffca3e;
  }
  &__contact,
  &__buy {
    @include flex(5);
    color: #eee;
  }
  &__buy {
    @include click-active(#e30909);
  }
  &__contact {
    @include click-active(#6fc92a);
  }
}
