@import '@/styles/index.scss';

.stars-page {
  @include display-flex;
  flex-direction: column;
  &__tab-bar-wrapper {
    position: fixed;
    top: 0;
    z-index: $top-tip-z-index; // make tab bar on top
    width: 100%;
    padding-bottom: 1.5 * $space;
  }
  &__tab-bar {
    padding: 0 4 * $space;
    background-color: white;
    @include hairline-bottom-relative;
  }
  &__stars-list {
    margin-top: 60px;
    @include display-flex;
    flex-direction: column;
    &-item {
      padding: $space 0;
      @include hairline-bottom;
    }
    &-swipe {
      padding: 0 $space;
    }
  }
}

.no-more-stars {
  margin-top: 30px;
  vertical-align: baseline;
  padding: 0 (5 * $space);
  $font-size: 25px;
  font-size: $font-size;
  line-height: 1.7 * $font-size;
  text-align: center;
  &__home {
    line-height: $font-size;
    display: inline-block;
    color: #00b5fd;
    padding: 0 ($font-size / 3);
    border-bottom: (1 * $PX) solid #00b5fd;
  }
  &__icon {
    height: $font-size;
    width: $font-size;
  }
}
