@import '../variables/index.scss';

@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin lamp-clamp($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin header-label($color, $font-size, $padding, $width) {
  width: $width;
  margin-bottom: $space / 2;
  padding-left: $padding;
  font-size: $font-size;
  color: $color;
  @include hairline-bottom($color);
}

@mixin avatar-size($size) {
  width: $size;
  height: $size;
  font-size: $size / 2.5;
  line-height: $size;
}

@mixin button-height($button-height) {
  height: $button-height;
  line-height: $button-height - 2px;
}

@mixin click-active(
  $bg-color,
  $active-color: shade($bg-color, 20%),
  $time: 0.3s
) {
  transition: background-color $time;
  background-color: $bg-color;
  &:active {
    background-color: $active-color;
  }
}
