@import '@/styles/index.scss';
@import '~taro-ui/dist/style/components/icon.scss';

.footer {
  @include display-flex;
  width: 100%;
  height: 100%;
  $font-size: 30px;
  font-size: $font-size;
  // @include hairline-top-relative;
  &__icon {
    margin-right: $space / 2;
  }
  &__share,
  &__status,
  &__edit {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    @include hairline-top-relative;
    @include hairline-right;
  }
  &__share {
    font-size: $font-size;
    padding: 0;
  }
  &__share {
    @include flex(3);
    @include click-active(white, #eeeeee);
  }
  &__status,
  &__edit {
    @include flex(4);
    color: #eee;
  }
  &__status {
    @include click-active(#e30909);
  }
  &__edit {
    @include click-active(#cca700);
  }
  &__status {
    &#{&}--new {
      @include flex(8);
    }
  }
}
